*.pyc
*~
/.vscode
__pycache__
db.sqlite3
.DS_Store
.vscode/
uploads/
static/CACHE
node_modules/
myvenv/
static/CACHE/
feedbackapp/migrations/
fliteracyapp/migrations/
workflows/migrations/
openmarket/migrations/
workflowapp/migrations/
virtual/
